.videobackground{
    top: 0px;
    left: 0;
    position: absolute;
    z-index: -2;   
    
}

@media (min-aspect-ratio: 16/9){
    .videobackground{
        width: 100%;
        height: auto;
    }

    
}
@media (max-aspect-ratio: 16/9){
    .videobackground{
        width: auto;
        height: 100%;
    }

    
}
.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.back{
    position: fixed;
}

.buy{
   
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.368);
    width: 400px;
    
    top: 35vh;
    right: 10vw;
    list-style: none;
    text-align: center;

}
.buy ul{
    
    list-style: none;
    text-align: center;
    padding: 5px;
}
.buy li{
    margin: 15px;

}
.heading{
    font-size:25px;
    color: rgb(246, 127, 208);
    font-weight: 500;
    margin: 10px;

}
.price{
    font-size: 30px;
    font-weight: 900;
}
.discription{
    font-size:  10px;
    color: rgb(255, 255, 255);
}
.buy li button{
    
    padding: 8px;
    background: rgb(246, 127, 208);
    width: 150px;
    font-size:  12px;
    font-weight: 500;
    border-radius: 100px;

    
}
.sizing{
    position: relative;
    font-size:  15px;
    background: rgba(247, 129, 218, 0);
    display: inline-flex;
    padding: 10px;
    color: rgb(246, 127, 208);
    
    
}
.sizing2{
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.221);
  float: left;
  left: 0;
  width: 370px;
  bottom: -70px;
  font-size:  15px;
  padding: 15px;
  text-align: left;
  color: white;

}
.sizing2.open{
    display: block;
}
.materials2.open{
    display: block;
}
.materials2{
  display: none;
  position: absolute;
  background: rgba(143, 143, 219, 0.201);
  float: left;
  width: 370px;
  bottom: -140;
  font-size:  15px;
  padding: 15px;
  text-align: left;
  color: white;
}   
.colors{
    position: absolute;
    display: block;
    top: 0px;
    right: -60px;
    background: rgba(255, 255, 255, 0.356);
    

}
.colors li{
    margin: 13px;
    

}


.legacy{
    position: fixed;

    display: inline-flex;
    width: 100%;
    justify-content: center;
    bottom: 2px;
    
}
.legacy li{
    list-style: none;
    margin: 5px;
    
}
.legacy a{
    font-size: 1vw;
    text-decoration: none;
    color: white;
}